/* Colors used:
Primary Color (orange): #fc9569;
Secondary Color (blue): #88a8ec;
Pink: #ffd3ea;
Green: #d1ffe7;
Text Headers: #666666 
Text Body: #333333;
*/

/**body{
    background-image: url(https://flamboyant-brahmagupta-403db5.netlify.app/img/bg.png);
}
**/

html {
    scroll-behavior: smooth;
}

/********** Top Navigation Bar **********/

.main-nav{
    background-color:transparent;
    color: #333;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #333;
    font-weight: 700;
    text-decoration: none !important;
    
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler-icon{
    color: #333;
    border-color: #333;
}
a.top-nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
    padding: 0 20px;
}

a.top-nav:hover{
    color: #3579F6 !important;
    text-decoration: none;
    text-decoration-color: #3579F6;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 1.5px;
}


a.top-nav:active{
    color: #3579F6;
    text-decoration: underline;
}



/********** Typography **********/

h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color:#121212;
    background-color: #FCFF6C;
    font-size: 1.15rem;
}

.link:hover{
    text-decoration: underline;
    background-color: white;
}


/******** Buttons ********/

.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding: .3em 1em;
    border-radius: 4px;
}

.btn-primary{
    color: #fff;
    background-color: #3579F6;
    border-color: #3579F6;
    /* border-width: 1px; */
}

.btn-primary:hover {
    color: #3579F6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    background-color: white;
    border-color: #333;
    border-width: 1px;
    /* border-radius: 5px; */
    transition: 
    transform 300ms ease 0ms,
    color 300ms ease 0ms,
    background-color 300ms ease 0ms,
    border 300ms ease 0ms,
    box-shadow 300ms ease 0ms;
}
/* 
.btn-primary:active, .btn-primary:focus {
    background-color: #3579F6 !important;
    color: white !important; 
    }

    */

/* 
.btn-secondary{
    font-size: 1rem;
    background-color: white;
    border-color: #333;
    color: #fc9569;
}

.btn-secondary:hover {
    background-color: #fc9569;
    border-color: #333;
    color: white;
}

.btn-secondary:active, .btn-secondary:focus {
    background-color: #88a8ec !important;
    border-color: #88a8ec !important;
    color: #333 !important;
} */


/******** Intro + Newsletter ********/

.top-image{
    max-width:100%;
    height: auto;
}

.newsletter{ 
    background-color: #fff;
    border-color: #121212;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 10px 10px 0px 0px rgb(136 168 236 / 0%);
    transition: transform 300ms ease 0ms,
    box-shadow 300ms ease 0ms;
}

.newsletter-p {
    font-size: 1rem;
}

div.mc-field-group input, div.mc-field-group { /*input field mailchimp*/
    border-radius: 5px;
    color:#686868;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input.button{ /* Mailchimp Subcribe Button */
    color: #fff;
    background-color: #3579F6;
    border-color: #3579F6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding: .3em 1em;
    border-radius: 4px;
    width:200px;

}

input.button:hover {
    /* Mailchimp Subcribe Button */
    color: #3579F6 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    background-color: white;
    border-color: #333;
    border-width: 1px;
    /* border-radius: 5px; */
    transition: transform 300ms ease 0ms,
    color 300ms ease 0ms,
    background-color 300ms ease 0ms,
    border 300ms ease 0ms,
    box-shadow 300ms ease 0ms;
}

.border{
    border-radius: 4px !important;
    border-color: #121212 !important;
}

.form-control{
    height: 48px;
}

/******** General ********/

#membership{
    height: 100vh;
}

.top-intro{
    height: 100vh;
}
#slack{
    border-width: 1px;
}

#contact{  
    border-width: 1px;
    background-color: white;
}

#about{
    border-width: 1px;
    background-color: white;
}

/* img .card-img-top{
    border-radius: none;
} */

/********  Events *******/

.card{
    border-radius: 5px;
}

.when{
    font-weight: bold;
}

#team.card-text{
    font-size: 0.9rem;
}

 #team .card-text {
    font-size: 0.95rem;
 }

 #team .btn-primary{
    font-size: 0.9rem;
 }


 /******** Community *******/

 .community{
    background-color: #FCFF6C;
    padding: 20px;
    width: 100%;
 }


 /****** Animation ******/

 .elevation:hover{
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0, 0.3);
    transition: transform 300ms ease-in-out 0ms, box-shadow 300ms ease-in-out 0ms;
 }

 /******** Footer ********/

 .imprint{
    background-color: #3579F6;
 }

 .imprint h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: white;
    padding: 0 10px;
 }

 .imprint h6:hover {
    color: #333;
}

.imprint h6:active {
    color: #333;
}


/********** Impressum Page ********/
.impressum {
    margin-top: 10%;
    margin-bottom: 50px;
}

/********** Media Queries **********/


/* ==============================
Medium devices // Bigger than iPad (768px and smaller)
================================= */
@media only screen and (min-width: 768px) {

    #events {
        margin-bottom: 100px;
    }
  
    #slack, #about, #contact{
        margin-top: 100px;
    }
    #footer{
        margin-top: 100px;
    }

    #team .card{
        min-height: 450px;
    }

    .intro {
        max-width: 430px;
    } 
   
}
/* ==============================
Big devices // Bigger than iPad (1024px and smaller)
================================= */
@media only screen and (min-width: 1024px) {

    #top-intro h2 {
        font-size: 50px;
    }

    #top-intro h4 {
        font-size: 31px;
    }

    .newsletter-p {
        font-size: 1rem;
    }

    .description {
        font-size: 22px;
    }

    #team .card-text{
        font-size: 1rem;
    }

    #contact {
        margin-bottom: 400px;
    }

    .intro {
        max-width: 550px;
    }
}

/* ==============================
Large devices // Bigger than Laptop (1440px and smaller)
================================= */
@media only screen and (min-width: 1440px) {

    .intro {
        max-width: 650px;
    }
    }